@import 'reset';
@import 'vars';

body {
  @apply --flex-column-center;
  background-color: var(--bg-color);
}

h2 {
  @apply --white-bodycopy;
  font-size: 3rem;
  font-weight: bold;
}

mark {
  background-color: white;
  color: var(--red);
  padding: 0 1rem;
}

footer {
  @apply --flex-space-between;
  @apply --white-bodycopy;
  position: relative;
  width: var(--100vw);
  height: 10rem;
  background-color: var(--red);
  margin-bottom: 1rem;
}

.footer-nav, .social-media {
  @apply --flex-column;
  @apply --white-bodycopy;
  @apply --link;
  justify-content: space-between;
  height: 6rem;
  margin-left: 5rem;
}

.partners img {
  width: 5rem;
}

.container {
  @apply --flex-column-center;
}

.navigation {
  @apply --flex-space-between;
  width: var(--100vw);
  height: 6rem;
  background-color: var(--red);
  margin-top: 1rem;

  padding: 0 6rem;
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 5;
}

.navigation-list {
  @apply --flex-space-between;
  width: 62rem;
  height: 100%;
}

.navigation-link {
  @apply --white-bodycopy;
  @apply --link;
}

.navigation-lang {
  @apply --flex-space-between;
  width: 5rem;
  height: 100%;
}

.navigation-selector {
  display: table;
  height: .5rem;
  background-color: white;
  top: 6.5rem;
  position: fixed;
  transition: width .3s, left .3s ease-out;
}

.lang-link {
  @apply --white-bodycopy;
  @apply --link;
}

.lang-link:hover {
  font-weight: bold;
}

.lang-inactive {
  font-weight: lighter;
}

.white-bodycopy {
  @apply --white-bodycopy;
  font-weight: bold;
}

.hamburger {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.hamburger input {
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.hamburger span {
  display: block;
  width: 3.3rem;
  height: .4rem;
  margin-bottom: .5rem;
  position: relative;
  background: white;
  border-radius: .3rem;
  z-index: 1;
  transform-origin: .4rem 0;
  transition: transform .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-.2rem, -.1rem);
}

.hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(.2, .2);
}

.hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -.1rem);
}

.hamburger-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -5.4rem 0 0 calc(-100vw + 6.3rem);
  padding: 5rem;
  padding-top: 12.5rem;
  background-color: rgba(0, 0, 0, .9);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transform: scale(2, 1);
  transition: transform .5s cubic-bezier(.77, .2, .05, 1), opacity .5s cubic-bezier(.77, .2, .05, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  pointer-events: none;
}

.hamburger-menu li {
  padding: 1rem 0;
  font-size: 2.2rem;
}

.hamburger input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
  pointer-events: auto;
}

.events-container {
  @apply --flex-column-center;
  /* position: absolute; */
  margin-top: 55rem;
  z-index: 3;
}

.cards {
  width: var(--100vw);
  max-width: 98rem;
  margin-top: 10rem;
  display: flex;
  flex-flow: row wrap;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.card-small {
  @apply --red-bodycopy;
  width: var(--card-width);
  max-width: 48rem;
  background-color: white;
  padding: 3.6rem 4.4rem 1rem;
  margin: .5rem;
  /* height: 100%; */
  max-height: 50rem;
}

.card-small h2 {
  color: var(--red);
  margin-top: -3.6rem;
  max-width: 35.6rem;
}

.card-photo {
  @apply --red-bodycopy;
  width: var(--card-width);
  max-width: 48rem;
  background-color: white;
  padding: 3.6rem 4.4rem 1rem;
  margin: .5rem;
}

.card-photo h2 {
  color: var(--red);
  max-width: 35.6rem;
  position: relative;
  z-index: 1;
}

.card-photo .card-tags {
  margin: 2.8rem 0 4.4rem;
}

.card-bodycopy {
  line-height: 1.62;
}

.card-tags {
  margin: 4.8rem 0 2rem;
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: row wrap;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin-top: -6.5rem;
}

/* .card-img::after {
  content: ' ';
  display: block;
  width: var(--image-width-offset);
  height: 20rem;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  margin-top: calc(100vw / 18.5);
} */

.card-img img {
  filter: grayscale(100%);
  width: var(--image-width-offset);
}

.card-img h2 {
  position: absolute;
  text-align: center;
  padding: .5rem 0;
  z-index: 2;
}

.tag {
  @apply --white-bodycopy;
  display: inline;
  background-color: var(--red);
  padding: .3rem 1rem;
  margin-right: .1rem;
  margin-top: .1rem;
  height: 2rem;
}

.timestamp {
  @apply --white-bodycopy;
  @apply --flex-column-center;
  margin: -3.6rem 0 0 calc(( ( 100vw - 4rem ) / 2 ) - 12.4rem);
  background-color: var(--red);
  width: 6rem;
  height: 7.5rem;
  position: relative;
  z-index: 3;
}

.timestamp p {
  display: inline;
}

.timestamp p:first-child {
  margin-bottom: -.3rem;
  margin-top: 1.3rem;
  font-size: 4.2rem;
  font-weight: bold;
}

.read-more {
  @apply --red-bodycopy;
  @apply --link;
  @apply --flex-space-between;
  font-weight: lighter;
  margin-left: calc(( ( 100vw - 5rem ) / 2 ) - 20rem);
  margin-top: 4rem;
  width: 12rem;
}

.date-filter {
  @apply --flex-space-between;
  width: var(--100vw);
  max-width: 97rem;
  margin: 0 .5rem;
}

.cards-fixed {
  margin-top: 23.9rem;
}

.date-filter-fixed {
  @apply --fixed-filter;
  margin-top: -71.8rem;
}

.date-filter-fixed .date-filter-day, .date-filter-fixed .date-filter-day-label {
  height: 6rem;
  transition: height .3s;
}

.date-filter-fixed .date-filter-day-label p:nth-child(2) {
  font-size: 3.6rem;
  transition: font-size .3s;
}

.date-filter-day {
  appearance: none;
  outline: none;
  margin: 0;

  background-color: var(--red);
  width: calc((var(--100vw) / 7 ) - .1rem);
  max-width: calc(( 97rem / 7 ) - .1rem);
  height: 8rem;
  transition: height .3s;
}

.date-filter-day:hover, .date-filter-day:checked {
  background-color: var(--dark-red);
}

.date-filter-day:hover + .date-filter-day-label p:nth-child(2), .date-filter-day:checked + .date-filter-day-label p:nth-child(2) {
  font-size: 6rem;
}

.date-filter-fixed .date-filter-day:hover + .date-filter-day-label p:nth-child(2), .date-filter-fixed .date-filter-day:checked + .date-filter-day-label p:nth-child(2) {
  font-size: 4.2rem;
}

.date-filter-day-label {
  @apply --white-bodycopy;
  @apply --flex-column-center;
  position: absolute;
  font-weight: bold;
  justify-content: center;
  width: calc((var(--100vw) / 7 ) - .1rem);
  max-width: calc(( 97rem / 7 ) - .1rem);
  height: 8rem;
  margin-left: calc(var(--100vw) / 7);
  pointer-events: none;
}

.date-filter-day-label p:nth-child(2) {
  font-size: 4.8rem;
  transition: font-size .3s;
}

.read-more::before {
  @apply --read-more-arrow;
}

.read-more::after {
  @apply --read-more-arrow;
}

.tag-filter {
  margin: 0 .5rem .1rem;
  display: flex;
  justify-content: center;
  width: var(--100vw);
  max-width: 97rem;
  overflow: hidden;
}

.tag-filter-tag, .selected-tag {
  padding: .8rem 1rem;
  height: 3rem;
  transition: margin .3s;
  cursor: pointer;
}

.tag-filter-tag:hover, .selected-tag:hover {
  background-color: var(--dark-red);
  transition: background-color .3s;
}

.tag-filter-fixed {
  @apply --fixed-filter;
  margin-top: -65.8rem;
}

.selected-tags {
  width: var(--100vw);
  max-width: 97rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.selected-tags-fixed {
  @apply --fixed-filter;
  margin-top: -62.7rem;
}

.selected-tag {
  display: flex;
  height: 3rem;
}

.selected-tag::after {
  content: 'x';
  text-align: right;
  display: block;
  width: 2rem;
  /* background: url(../assets/svg/cross.svg); */
}

.map {
  width: 100vw;
  margin-top: -3rem;
  position: fixed;

  display: flex;
  justify-content: center;
}

.location-filter {
  @apply --white-bodycopy;
  width: 30rem;
  height: 4rem;

  outline: none;
  background-color: var(--red);
  border: none;
  padding: 1rem;

  transition: margin .3s, background-color .3s;
}

.footer-input {
  background-color: white;
}

.location-filter-form {
  margin-top: 36rem;
}

.footer-form {
  margin-top: 0;
}

.location-filter-container {
  @apply --flex-column;
  justify-content: center;
  align-items: left;
  position: relative;
  height: 6rem;

  transition: height .3s, margin .3s;
}

.location-filter:hover {
  background-color: var(--dark-red);
  transition: background-color .3s;
}

.footer-input:hover {
  background-color: white;
}

.location-filter:focus {
  margin-top: -3.3rem;
  background-color: var(--dark-red);
  transition: margin .3s, background-color .3s;
}

.footer-input:focus {
  background-color: white;
}

.location-filter:focus + .location-filter-label {
  margin-top: -6rem;
  color: var(--red);
  font-weight: bold;
  transition: margin .3s, color .3s;
}

.footer-input:focus + .footer-label {
  color: white;
}

.location-filter-label {
  @apply --white-bodycopy;
  pointer-events: none;
  margin: -2.7rem 0 0 1rem;
  transition: margin .3s, color .3s;
}

.footer-label {
  color: var(--red);
}

.location-filter-errors {
  @apply --white-bodycopy;
  color: red;
  margin: 1rem;
}

.location-filter-hints {
  @apply --white-bodycopy;
  /* background-color: var(--red); */
  margin-top: 1.4rem;
  width: 30rem;
  /* padding: .5rem 1rem; */
  opacity: 0;
  transition: opacity .3s, margin-top .3s;
}

.location-filter-hint {
  width: 30rem;
  margin-bottom: .1rem;
  padding: .5rem 1rem;
  background-color: var(--red);
}

.location-filter:focus + .location-filter-label + .location-filter-hints {
  opacity: 1;
  margin-top: 4.7rem;
  transition: opacity .3s, margin-top .3s;
}

@media (max-width: 1200px) {

  .map {
    width: 120vw;
  }
}

@media (max-width: 1000px) {

  .map {
    width: 140vw;
    margin-left: 2rem;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {

  .timestamp {
    margin: -3.6rem 0 0 35.6rem;
  }

  .read-more {
    margin-left: 27.5rem;
  }

  .card-img img, .card-img::after {
    width: 46rem;
  }
}

@media (max-width: 970px) {

  .date-filter-fixed, .tag-filter-fixed, .selected-tags-fixed {
    margin-left: 0;
  }
}

@media (max-width: 850px) {

  .navigation-list {
    width: 55rem;
  }
}

@media (max-width: 800px) {

  .navigation-list {
    width: 50rem;
  }

  .navigation {
    padding: 2rem;
  }

  .cards {
    flex-direction: column;
  }

  .card-small, .card-photo {
    width: var(--100vw);
    max-width: none;
    margin-left: 0;
  }

  .read-more {
    margin-left: calc(( 100vw - 5rem ) - 20rem);
  }

  .timestamp {
    margin: -3.6rem 0 0 calc(var(--100vw) - 12.4rem);
  }

  .card-img {
    margin: -6.5rem -3.4rem;
  }

  .card-img img {
    width: calc(var(--100vw) - 2rem);
  }

  .card-img::after {
    width: calc(var(--100vw) - 2rem);
    margin-top: calc(( 100vw - 36.1rem) / 2.5);
  }

  .card-photo h2 {
    width: calc(var(--100vw) - 12.4rem);
    max-width: none;
  }

  .map {
    width: 160vw;
    /* margin-top: 0; */
  }
}

@media (max-width: 700px) {

  .map {
    width: 170vw;
    margin-top: 0;
  }
}

@media (max-width: 650px) {

  .navigation-list {
    display: none;
  }

  .navigation-selector {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .card-small h2, .card-photo h2 {
    max-width: 50vw;
  }
}

@media (max-width: 400px) {

  h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 350px) {

  h2 {
    font-size: 2rem;
  }

  .hamburger-menu li {
    font-size: 1.8rem;
  }
}
